.theme-header .theme-header-decoration .theme-header-ribbon { background-color: #FCEEDD; }
.theme-header .theme-header-decoration .theme-header-ribbon:after, .theme-header .theme-header-decoration .theme-header-ribbon:before { border-top-color: #FCEEDD; }
.theme-header .theme-header-decoration .theme-header-ribbon:after, .theme-header .theme-header-decoration .theme-header-ribbon:before { border-bottom-color: #FCEEDD; }

#app-content-load, .websites-footer { background-color: #363330; }

.theme-post-entry, .theme-post-entry p, .theme-post-entry li, .theme-post-entry i:not(.fa-arrows), .theme-post-entry b, .theme-post-entry span, .theme-post-entry strong, .theme-post-entry small, .theme-post, .theme-post p, .theme-post span, .theme-post strong, .theme-post b, .theme-post small, .theme-post i:not(.fa-arrows), .theme-post li, .theme-wedshoots-empty-steps, .theme-wedshoots-empty-steps h3, .theme-wedshoots-empty-steps p, .websites-list p, .websites-list span, .websites-list strong, .websites-list small, .websites-list b, .websites-list li, .websites-list i:not(.fa-arrows), .websites-list, .theme-post-text-color, .theme-post-text-color, .theme-post-text-color, .theme-post-text-color, .theme-post-text-color, .theme-post-text-color, .theme-post-text-color, .theme-post-text-color { color: #444444; }

.app-custom-font-name { color: #444444; }

.theme-post-title, .websites-list h2, .theme-post-entry h2, .theme-post h2, .activity-color { color: #c4b2a4; }
.activity-nav a.active, .activity-nav a:hover { border-bottom-color: #c4b2a4; }

.theme-post-entry a, .theme-post a, .pagination a, .websites-list a, .theme-album-info a, .theme-list-details a, .theme-album-title h2, .theme-album-title small, .websites-rs-post .rsArrow .rsArrowIcn, .wedshoots-icon-active.wedshoots-icon-active, .wedshoots-icon-active.wedshoots-icon-active i, .wedshoots-icon-active.wedshoots-icon-active strong, .theme-wedshoots-item-detail.theme-wedshoots-item-detail .fa-trash-o, .topic-comment-footer .fa-trash-o:before, .websites-comments-user .fa-trash-o:before, .theme-color-link, .theme-color-link:before { color: #c4b2a4; }
.pagination span.active, .websites-button { background-color: #c4b2a4; }
.pagination li:last-child a:after { border-left-color: #c4b2a4; }
.pagination li:first-child a:before { border-right-color: #c4b2a4; }

.theme-menu { background-color: #FCEEDD; }
.website-menu-top.open .websites-menu ul li div a.active, .website-menu-top.open .websites-menu ul li div a:hover { color: #FCEEDD; }
.website-menu-top.open .websites-menu ul li div a.active, .website-menu-top.open .websites-menu ul li div a:hover { border-bottom-color: #FCEEDD; }
.websites-menu-closeBar { background-color: #FCEEDD; }

.theme-header { background: url(https://cdn1.mariages.net/website/fotos//7/0/2/2/bg_t30_42207.jpg) no-repeat 50% top transparent; }