<% content_for :page_title, 'Mentions Légales' %>

<h2>Édition du site internet</h2>

<p>Le site Dani and Manu (ci-après "le Site"), accessible à l’adresse http://carpooling.dani-andmanu.info est édité par Emmanuel Cousin (ci-après "l'Editeur"), dont le domicile est situé 28
Rue Saint-Vincent, 75018 Paris, France (+33663077168, emmanuel_cousin@hotmail.fr).</p>

<h2>Rédaction du site internet</h2>

<ul>
  <li>Directeur de la publication : Emmanuel Cousin</li>
  <li>Contact : +33.6.63.07.71.68 ; emmanuel_cousin{at}hotmail.fr</li>
</ul>


<h2>Rédaction des Mentions Légales</h2>

<ul>
  <li>Dénomination sociale : Captain Contrat</li>
  <li>Adresse siège social : 12 rue saint-fiacre, 75002 Paris</li>
  <li>Site internet : www.captaincontrat.com</li>
</ul>

<h2>Hébergeur du site internet</h2>

<p>Le site Dani and Manu est hébergé par Heroku, société de droit américain dont le siège social est situé 650 7th Street, San Francisco, CA 94103 Etats-Unis, joignable par le moyen suivant : contact@heroku.com.</p>

<h2>Respect de la propriété intellectuelle</h2>

<p>Toutes les marques, photographies, textes, commentaires, illustrations, images animées ou non, séquences vidéo, sons, ainsi que toutes les applications informatiques qui pourraient être utilisées pour faire fonctionner le Site et plus généralement tous les éléments reproduits ou utilisés sur le Site sont protégés par les lois en vigueur au titre de la propriété intellectuelle.</p>

<p>Ils sont la propriété pleine et entière de l'Editeur ou de ses partenaires, sauf mentions particulières. Toute reproduction, représentation, utilisation ou adaptation, sous quelque forme que ce soit, de tout ou partie de ces éléments, y compris les applications
informatiques, sans l'accord préalable et écrit de l'Editeur, sont strictement interdites. Le fait pour l'Editeur de ne pas engager de procédure dès la prise de connaissance de ces utilisations non autorisées ne vaut pas acceptation desdites utilisations et renonciation aux poursuites.</p>

<p>Seule l'utilisation pour un usage privé dans un cercle de famille est autorisée et toute autre utilisation est constitutive de contrefaçon et/ou d'atteinte aux droits voisins, sanctionnées par
Code de la propriété intellectuelle.</p>

<p>La reprise de tout ou partie de ce contenu nécessite l'autorisation préalable de l'Editeur ou du titulaire des droits sur ce contenu.</p>

<h2>Liens hypertextes</h2>

<p>Le Site peut contenir des liens hypertexte donnant accès à d'autres sites web édités et gérés par des tiers et non par l'Editeur. L'Editeur ne pourra être tenu responsable directement ou
indirectement dans le cas où lesdits sites tiers ne respecteraient pas les dispositions légales.</p>

<p>La création de liens hypertexte vers le Site ne peut être faite qu'avec l'autorisation écrite et préalable de l'Editeur.</p>
