<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1><%= t('.title') %></h1>
    <hr />
    <%= render 'form', ride: @ride, url: account_rides_path %>

    <%= link_to t('defaults.back'), rides_path %>
  </div>
</div>
