// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$call-to-action-color: #c4b2a4;

.btn-call-to-action {
  border-color: $call-to-action-color;
  color: $call-to-action-color;
  font-size: large;
  border: 1px solid;
  display: block;

  &:hover {
    border-color: darken($call-to-action-color, 20%);
    color: darken($call-to-action-color, 20%);
  }
}
