<% if notice.present? %>
  <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        &times;
      </span>
    </button>
  </div>
<% elsif alert.present? %>
  <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        &times;
      </span>
    </button>
  </div>
<% end %>